/*--------
--------Style file CSS
--------*/

@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    box-sizing: border-box;
}

body {
    padding: 10px auto;
    font-size: 14px;
    font-family: 'Lato', 'Arial', sans-serif;
}

h1 {
    color: rgb(60, 55, 55);
}

h2 {
    font-size: 16px;
    font-weight: 400;
}

.flex-block {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}


/*-----
-----Style for FORM
-----*/

form {
    width: 30%;
    margin: 10px auto;
}

legend {
    font-size: 16px;
}

label {
    display: block;
    margin: 5px 0 0 0;
    font-size: 14px;
}

label.inline-block {
    margin-right: 10%;
}

input {
    padding: 5px 5px;
}

fieldset,
select,
textarea,
input[type="text"],
input[type="submit"],
input[type="reset"] {
    width: 100%
}

select {
    margin-bottom: 10px;
    padding: 5px;
}

input[type="radio"] {}

input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 5px;
}


/*-----
-----Custom style
-----*/

